.login-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-login {
    height: 60vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-size: 30px;
    margin-bottom: 5px;
}


.input-log {
    background: transparent;
    border: 1px solid rgb(51, 51, 51);
    height: 2rem;
    outline: none;
    width: 80%;
    margin-bottom: 10px;
    text-indent: 5px;
    margin-bottom: 20px;

}


.small-border {
    width: 20%;
    border-top: 1px solid black;
    margin-bottom: 40px;
    margin-top: 5px;
}

.btn-log {
    width: 45%;
    cursor: pointer;
    background-color: #516157;
    color: white;
    border: none;
    height: 2rem;
    margin-top: 15px;
}

.btn-log-reg {
    margin-top: 60px;
    cursor: pointer;
}

.btn-log-reg:hover {
    border-bottom: 1px solid black;
}

.error-msg-log {
    height: 1rem;
    width: 100%;
    text-align: center;
    font-size: 14px;
}