.navbar-container {
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.navbar-logo {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    flex: 1;
    text-indent: 1rem;
    border: none;
}


.navbar-middle {
    text-align: center;
    flex: 1;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.navbar-right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    font-size: 25px;

}

.navbar-right a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;

}


.navbar-right div {
    margin-right: 20px;
    cursor: pointer;
}


.hide-navbar {
    display: none;
    visibility: hidden;
}